/* Source: https://css-tricks.com/box-sizing/ */
* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma, serif;
}

.navbar {
    background-color: #FED500;
    text-align: center;
    padding: 8px;
    margin: 0;
}


footer {
    background-color: #FED500;
}